<button (click)="AddMember()">הוספת חבר</button>
<table>
    <tr>
        <th class="buttobRow"></th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>ת.ז</th>
        <th>כתובת</th>
        <th>תאריך לידה</th>
        <th>טלפון</th>
        <th>טלפון נייד</th>
        
    </tr>
    <!--(click)="DisplayingPersonalDetails(p)"-->
    <tr *ngFor="let p of prsonalInformations"   >

        <td (click)="DisplayingPersonalDetails(p)"></td>
        <td>{{p.first_name}}</td>
        <td>{{p.last_name}}</td>
        <td>{{p.id}}</td>
        <td>{{p.address}}</td>
        <!--<td>{{p.city}}</td>-->
        <td>{{p.birthday}}</td>
        <td>{{p.phone}}</td>
        <td>{{p.mobile}}</td>
    
        <th (click)="update(p)">עדכון</th>
        <th (click)="delete(p)">מחיקה</th>
    </tr>
</table>
